@font-face {
  font-family: "SF UI Display";
  src: local("SF UI Display"),
    url("../assets/fonts/SFUIDisplay-Regular.woff") format("woff");
}
body {
  background-color: #e5e5e5;
}
.container {
  width: 100%;
}
.wrapper {
  width: 90%;
  /* padding: 70px 40px; */
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
